<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid mx-5">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="true" ariaCurrentWhenActive="page">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="true" ariaCurrentWhenActive="page">products</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="users" routerLinkActive="true" ariaCurrentWhenActive="page">users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="true" ariaCurrentWhenActive="page">about us</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li> -->
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
      <li>

        <a class="btn btn-primary d-flex mx-5" routerLink="users/edit/-1" routerLinkActive="true" ariaCurrentWhenActive="page">Register</a>
      </li>
    </ul>

    <ul class="navbar-nav mx-4" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../shopcart']">Shopcart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['../users/' , user.id]">Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>

  </nav>